@{
    ViewData["Title"] = "WineShare - Dodaj użytkownika";
}
<h1>@ViewData["Title"]</h1>




<div class="container">
    <div class="row">

    @{
        var datas = ViewBag.Message as IEnumerable<WineDocumentation.Infrastructure.DTO.UserDto>;
       
        foreach (var item in datas)
        {
        
            <div class="col-sm-5 col-md-5 special-margin-top user-box" data-iddata="@item.Id">
                <form id="form1" method="post" action="javascript:void(0);" onsubmit="addUser()" >
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Imię i nazwisko</label>
                        <input type="text" id="Username" name="Username" class="form-control" id="exampleFormControlInput1" placeholder="Jan Kowalski">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Adres e-mail</label>
                        <input type="text" id="Email" name="Email" class="form-control" id="exampleFormControlInput1" placeholder="email@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Hasło</label>
                        <input type="password" id="Password" name="Password" class="form-control" id="exampleFormControlInput1" placeholder="Hasło">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Zapisz">
                </form>
            </div>

        }

    }
    </div>
</div>