html {
    height: 100%;
}

body {
    color: #0B2F38;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    margin-top: 6rem;
    margin-bottom: 5rem;
}

a {
    color: #2CB8DB;
    transition:  ease-in-out 0.2s color;
    text-decoration: none;
}

.color-primary {
    color: #176375;
}

a:hover {
    color: #176375;
    transition:  ease-in-out 0.6s color;
}

button.btn-list {
    border:none;
    background: transparent;

    fill: #0B2F38;
    transition:  ease-in-out 0.3s fill;
    width: 3.8rem;
    height: 4rem;
}

button.btn-list:hover  {
    fill: #2CB8DB;
    transition:  ease-in-out 0.2s fill;
}

button .btn-list:active, 
button .btn-list:focus {
    border-color: white;
}

/* .navbar-toggler-icon {
    fill: #0B2F38;
    transition:  ease-in-out 0.3s fill;
}

.navbar-toggler-icon:hover {
    fill: #176375;
    transition:  ease-in-out 0.2s fill;
} */

.navi-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    /* margin: 0rem 1rem 2rem 1rem; */
    border-bottom: 0.1rem solid #0B2F38;
    z-index: 1000;

    background-color: white;
    opacity: .85;
}



.navi-bar.scrolled {
    background: #fff;
    opacity: .9;
    box-shadow: 0 4px 25px rgba(0,0,0,.05);
    transition: ease-in-out .3s background;
}

.navi-bar .navi-content-box {
    display: none;
    grid-auto-flow: row;
    grid-auto-columns: max-content;
    gap: 0.5rem;
    place-self: center;
    height: 100%;
    justify-content: center;
    justify-items: center;
    
}

.navi-bar .navi-content-box.is-show {
    display: grid;
}

.navi-bar .navi-content-box .navi-link.navi-brand {
    color: #0B2F38;
}

.navi-bar .navi-content-box .navi-link.navi-brand:hover {
    color: #0B2F38;
}

.navi-bar .navi-content-box .navi-link {
    padding: .6rem;
    text-decoration: none;
    color: #176375;
    font-weight: bold;
}

.navi-bar .navi-content-box .navi-link::after {
    content: '';
    position: relative;
    display: block;
    width: 0;
    height: .4rem;
    border-radius: 1rem;
    background: #176375;
    transition: .3s ease-in-out;
}

.navi-bar .navi-content-box .navi-link:hover::after {
    width: 100%;
    background-color: #2CB8DB;
    transition: .6s ease-in-out;
}

.navi-bar .navi-content-box .navi-brand.navi-link:hover::after {
    width: 100%;
    color: #0B2F38;
    transition: ease-in-out .6s;
}


.navi-bar .navi-content-box .navi-link:hover {
    color: #0B2F38;
}


.special-margin-top {
    margin: 1rem;
   

}

.wine-box {
    /* border: 0.1rem solid #0B2F38; */
    border-radius: .9rem;
    cursor: pointer;
    transition: ease-in-out .1s;
}


.wine-box:hover {
    border: 0.1rem solid #176375;
    background-color: #2CB8DB;
    transform: scale(1.1);
    transition:  ease-in-out 0.2s border;
    transition:  ease-in-out .5s;
}

.comment {
    padding: 1rem;    
}

.btn-primary {
    margin-top: .8rem;
    background-color: #0B2F38;
    border-color: #2CB8DB;
    border-radius: 2rem;
    transition: ease-in-out 0.3s transform;
}

.btn-primary:hover {
    background-color: #176375;
    border-color: #0B2F38;
    transform: scale(1.1);
    transition: ease-in-out 0.3s transform;
}

.navigation-link {
    color: #0B2F38;
    transition:  ease-in-out 0.2s color;
}

.navigation-link:hover {
    color: #176375;
    transition:  ease-in-out 0.2s color;
}

.add-comment-form {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
   

    height: 20rem;
    width: 100%;
    margin-top: auto;

    color: white;
    background-color: #0B2F38;
}

.footer .container {
    display: flex;
    justify-content: center;
}


@media (min-width: 980px) and (max-width: 1200px) {
    .navi-bar {
        flex-direction: row;
    }

    .navi-bar .navi-content-box {
        display: grid;
        grid-auto-flow: column;
        justify-content: inherit;
        justify-items: inherit;
    }
    .navi-bar .usern-navigation {
        
        flex-basis: content;

    }
    .btn-list {
      display: none; 
    }
}

@media (min-width: 1201px) {
    .navi-bar {
        flex-direction: row;
    }
    .navi-bar .usern-navigation {
        
        flex-basis: content;

    }
    .navi-bar .navi-content-box {
        display: grid;
        grid-auto-flow: column;
        justify-content: inherit;
        justify-items: inherit;
    }
    .btn-list {
      display: none; 
    }
}
